@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input {
  display: inline-block;
  font: inherit;
  outline: none;
  padding-inline: 0.5rem;
  font-size: 14px;
  padding-block: 0.25rem;
}
a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: inherit;
  transition: 0.2s ease-in-out;
}

ul {
  list-style: none;
}
button {
  border: none;
  letter-spacing: 1px;
  transition: all 0.3s;
}
button:hover {
  cursor: pointer;
}
body {
  color: #3d4152;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
.flex-sbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr-dotted {
  margin-block: 1rem;
  border-top: 1px dashed #cdcdd0;
}
/* navbar */
header {
  width: 100%;
  font-size: 0.825rem;
  padding-block: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.brand-logo {
  width: 75px;
}
.location,
.location-city {
  font-size: 11px;
}
.location-city {
  font-weight: 700;
  color: #3d4152;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid black;
}
.location {
  padding-left: 0.5rem;
  color: #686b78;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
/* body */

.banner {
  background-color: #171a29;
  margin-bottom: 2rem;
  padding: 30px 0;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-left: 1.5rem;
}
.banner-img {
  height: 200px;
  width: 200px;
  transition: all 0.5s;
}
.banner-img:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.filter-container {
  padding-bottom: 2rem;
}
.no-restaurants {
  font-weight: 700;
  font-size: 1.3rem;
}
.filter-input {
  display: flex;
  align-items: center;
  background-color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 16px;
}
.search-input {
  border: none;
  letter-spacing: 1px;
  padding: 0.3rem 0.7rem;
  height: 2rem;
  width: 19rem;
  border-radius: 16px 0 0 16px;
}
.search-btn {
  background-color: #dfdfdf;
  padding: 0.3rem;
  border-radius: 16px;
}

.rating-filter-btn {
  background-color: rgb(255, 242, 217);
  color: black;
  font-size: 12px;
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
}
.rating-filter-btn:hover {
  background-color: rgb(255, 167, 2);
}
.card-container {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 1.25rem 0.825rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.825rem;
  width: 235px;
  padding: 16px 12px;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.card:hover {
  cursor: pointer;
  border: 1px solid #cdcdd0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.res-name {
  font-size: 14px;
  font-weight: 700;
}
.res-cuisines {
  color: #686b78;
  font-size: 10px;
  letter-spacing: 0.3px;
}
.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: #535665;
}
.res-rating-o {
  padding: 3px 6px;
  background-color: #ffa700;
}
.res-rating-g {
  padding: 3px 6px;
  background-color: #48c479;
}
.rating-bg-white {
  color: white;
}
/* shimmer */
.shimmer {
  min-height: 150vh;
}
.shimmer-banner {
  height: 250px;
  background-color: rgb(227, 227, 227);
}
.shimmer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 0.825rem;
}
.shimmer-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 230px;
  height: 200px;
  padding: 16px 12px;
  border: 1px solid #cdcdd0;
}
.sh-img-div {
  background-color: rgb(204, 205, 205);
  height: 120px;
}
.sh-name-div {
  background-color: rgb(204, 205, 205);
  height: 10px;
  width: 70%;
}
.shim-text-div {
  background-color: rgb(204, 205, 205);
  height: 7px;
  width: 40%;
}
/* Restaurant Info */
.container-info {
  padding-block: 3rem;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
.res-info-name {
  font-size: 1rem;
}
.res-info-cuisines,
.res-info-area {
  font-size: 0.6rem;
}
.res-info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.res-info-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #cdcdd0;
  padding: 0.5rem 0.25rem;
  border-radius: 4px;
}
.res-info-rating {
  color: rgb(7, 186, 7);
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dfdfdf;
}
.res-info-total-rating {
  font-size: 0.5rem;
  font-weight: 800;
  color: #8a8a8a;
}
.res-info-delivery-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.res-info-delivery-info > p {
  font-size: 0.75rem;
  font-weight: 900;
}
.veg-only {
  margin-block: 1rem;
}
.veg-only-btn {
  background-color: rgb(226, 255, 198);
  color: black;
  font-size: 10px;
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
}

.veg-only-btn:hover {
  background-color: lawngreen;
}
/* accordion */
/* .accordion {
  max-width: 600px;
  margin: 2rem auto;
} */

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: #21aeca; */
}

.accordion-title:hover {
  /* background-color: #3ab4cc; */
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  /* background-color: #39b9d2; */
}
@media screen and (max-width: 700px) {
  .accordion {
    width: 90%;
  }
}
.menu-items {
  padding-block: 2rem;
}
.food-image {
  width: 104px;
  height: 88px;
  border-radius: 0.5rem;
}
.hr-menu {
  border-top: 1px solid #cdcdd0;
}
/* end of accordion */
